body{
    background-color: #c0c0c0;
}

div {
    display: flex;
    justify-content: center;
}

hr {
    margin:  0px 500px;
}

nav{
    display: flex;
    justify-content: center
}
a:link {
    color: #0000d0; 
}
a:visited {
    color: #793636;
}

a:hover {
    color: #ffe; 
} 